body {
	font-size:9pt;
	font-fammily:宋体;
}

/*首页背景*/
.log_bg{
	margin-top: 2px;
	width: 100%;
	height:79px;
	overflow: hide;
	background:../images/jzzq.jpg
}

html, body{
	margin:0;
	padding:0
}

table.hovertable {
	font-family: 宋体;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width: 100%;
	position: relative;
	
}

table.myquerytable tr {
	height:25px;
}
table.hovertable th {
	background-color: #c3dde0;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #a9c6c9;
	text-align: center;
	max-width: 50px;
}

table.hovertable th, table.hovertable tr{
	height:20px;
}

table.hovertable td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #a9c6c9;
	text-align: right;
	max-width: 50px;
}

#pager_queryGrid_table th,#pager_queryGrid_table td,#pager_queryGrid_table tr{
	height:15px;
	padding: 0px;
}

.even-row{
	background-color: #F0F0F0;
}

.odd-row{
	background-color: #FFF;
}

.over {
	background:#FEF3D1
}

.tools_bar{
	background-image: url(../images/background.png); 
	BORDER-BOTTOM: #a7abb4 1px solid;
	height:28px;
	border:#99bbe8 1px solid;
	padding-left:15px;
	text-align: left;
	width: 100%;
}
.tools_bar_imgs td img {
	margin: 5px;
}


.tools_bar_imgs td img:HOVER {
	border:1px solid black;
}

.imgover {
	border:1px solid black;
}

.queryImg{
	display:block;
	background: url(../images/icon_view.png) left top no-repeat;
	border: 1px solid black;
	width:20px;
	height:20px;
}

/* input.common{
	background:url(../images/inputbg11.gif) no-repeat 0 0 #AFC8EE;
	border: 3px #D6E3F2 solid;
	background-color: #AFC8EE;	
	background:url(../images/inputbg11.gif) no-repeat 0 0;
	} */
	
input.common{
	margin:5px 5px 5px 3px;
	border: 2px #AABBCC solid;
	}
	
	
	
input.add {
	border-bottom:#74a2e0 1px solid;
}

/*菜单叶子节点图标样式*/
.blueDot{
	background-image:url(../images/world.png) !important;
}

/*没有图标*/
.no-icon {
	display:none;
}

/*菜单管理样式*/
.menu_edit{
	margin: 20px 0px 0px 0px;
}
